/* ARTSOCKET RESET BLOCK V0.5 */

html { height: 100%; }
body {
    height: 100%;
    height: calc(100vh + 3em);
    width: 100%;
    min-width: 320px;
    padding: 0;
    margin: 0;
	font-family: Halant, serif;
	font-size: 62.5%;
	letter-spacing: 0.05em;
	font-weight: 400;
	color: #2C2C2C;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	
	overflow-x: hidden;
}
header, section, footer, aside, nav, main, article, figure, figcaption, details, p { 
	display: block;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Poppins, sans-serif;
	font-weight: 700;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #2c2c2c;
}
main {
	margin: 0 auto;
	font-size: 1.5em;
}
@media only screen and (min-width:1250px) { body { font-size: 75% } }
@media only screen and (max-width:540px) { body { font-size: 55% } }
@media only screen and (min-width:2000px) {
	body { font-size: 110%; }
}
strong { font-weight: 700 }
.center { text-align: center; }



.paperShadow {
	box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.3);
}
.beatingHeart {
    animation: beat 750ms;
    animation-iteration-count: 7;
    display: inline-block;
    position: relative;
}


@keyframes beat {
    0% { transform: scale(1); }
    5% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeInHalf {
    0% { opacity: 0; }
    100% { opacity: .5; }
}
@keyframes headerForm {
	0% {
		background: 0 0;
		box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
	}
	100% {
		background: #fff;
		box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.3);
	}
}
@keyframes headerMenuDrop {
	0% {
		opacity: 0;
		transform: translateY(-2em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}

}



body > header {
	position: fixed;
	top: 0;
	left: -5em;
	padding: 1.5em 7.5em;
	width: calc(100vw + 10em);
	z-index: 100;
	animation: headerForm 500ms ease 3000ms forwards;
	
	overflow: hidden;
}
@media only screen and (max-width:800px) { 
	body > header {
		padding: 1.5em 10em;
		height: 9em;
		transition: transform 750ms;
	}
	body > header.hide { transform: translateY(-6em) }
}

body > header h1 {
	width: 14em;
	background: rgba(255, 255, 255, 0.9);
	cursor: pointer;
	display: inline-block;
	border-radius: .15em;
	padding: .15em 0;
}
@media only screen and (max-width:800px) { 
	body > header h1 {
		display: block;
		text-align: center;
		margin: 0 0 0 calc(50vw - 8em);
		transition: transform 750ms;
	}
	body > header.hide h1 { transform: translateY(2.85em) }
}
body > header h1 em {
	color: #ff5a96;
}
body > header h1 strong svg {
	width: .75em;
	height: .75em;
}
body > header h1 strong svg path { fill: #ff5a96; }
body > header h1:hover strong {
 	animation: beat 750ms;
    animation-iteration-count: 3;
}
body > header h1 em, body > header h1 em i {
	font-style: normal;
}
body > header h1 em {
	font-size: .75em;
	font-weight: 400;
	opacity: 0;
	animation: fadeIn 750ms ease 2250ms forwards;
	margin: .4em 0.5em 0 0;
	display: block;
	width: 4em;
	overflow: hidden;
	float: right;
}
@media only screen and (max-width:800px) { 
	body > header h1 em { animation: fadeInHalf 750ms ease 2250ms forwards; }
}
body > header h1 span.dmitri {
	opacity: 0;
	animation: fadeIn 750ms ease 750ms forwards;
}
body > header h1 span.betty {
	opacity: 0;
	animation: fadeIn 750ms ease 1500ms forwards;
}

body > header ul {
	display: inline-block;
	font-size: 1.5em;
	font-family: Poppins, sans-serif;
	margin: 0;
	padding: 0;
	width: calc(100% - 28em);
}
@media only screen and (max-width:800px) { 
	body > header ul {
		margin-left: -2.5em;
		margin-top: 1.5em;
		width: calc(100vw - 1em);
		transition: opacity 200ms, transform 500ms;
	}
	body > header.hide ul {
		opacity: 0;
		transform: scaleY(.6);
	}
}
body > header ul li {
	display: inline-block;
	margin: 0 .5em;
	padding: .25em .5em;
	min-width: 4em;
	text-align: center;
	border-radius: .15em;
	animation: headerMenuDrop 500ms ease 3000ms forwards;
	opacity: 0;
	border-bottom: 3px solid #fff;
	transition: all 500ms;
}
@media only screen and (max-width:800px) { 
	body > header ul li:not(.rsvp) {
		min-width: 0;
		margin: 0;
	}
}
body > header ul li:nth-child(2) {
	animation: headerMenuDrop 500ms ease 3100ms forwards;
}
body > header ul li:nth-child(3) {
	animation: headerMenuDrop 500ms ease 3200ms forwards;
}
body > header ul li:nth-child(4) {
	animation: headerMenuDrop 500ms ease 3300ms forwards;
}
body > header ul li.rsvp {
	float: right;
	display: inline-block;
	background: #ff5a96;
	font-weight: 700;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.48);
	border-bottom: none;
}
body > header ul li.rsvp a {
	color: #fff;
}
body > header ul li.selected {
	border-bottom: 3px solid #2c2c2c;
}
body > header ul li.rsvp.selected a {
	border-bottom: none;
}
body > header ul li.rsvp.selected {
	background: #2c2c2c;
	border-bottom: none;
}




body > main {
	margin: 6em auto 0;
	max-width: 40em;
	padding: 1.5em;
	z-index: 1;
	position: relative;
	opacity: 0;
	display: none;
	transform: scale(.95);
	transition: all 200ms;
}
@media only screen and (max-width:800px) { 
	body > main { margin-top: 9em; padding: .5em; }
}
body > main.show {
	opacity: 1;
	transform: scale(1);
}
body > main article {
	text-align: center;
	opacity: 0;
	position: absolute;
	z-index: 1;
	transform: translateY(-100vh);
	transition: all 300ms;
}
body > main h1, body > main p {
	background: rgba(255, 255, 255, 0.75);
	padding: 0 .33em;
	display: inline-block;
	margin: 0 0 1em;
	transition: transform 1.5s;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.000, 0.105, 1.000); 
	transition-timing-function: cubic-bezier(0.175, 0.000, 0.105, 1.000);

}
body > main p {
	display: block;
	padding-bottom: .5em;
	text-align: left;
}




#background {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	transition: all 500ms;
}
#background.blur {
	-webkit-filter: blur(20px);
	-moz-filter: blur(20px);
	-ms-filter: blur(20px);
	filter: url(#backgroundBlur);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='20');
	filter: blur(20px);
	
	transform: scale(1.1);
	opacity: .35;
}
#background > div {
	width: 45vw;
	position: absolute;
	transform: translate(0, 100%) scale(1.1);
	background: #fff;
	padding: 1.5vw 1.5vw 1.5vw 7.5vw;
	margin: 1em;
	border-radius: .33em;
	z-index: 1;
	opacity: 0;
	transition: transform 750ms, opacity 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.000, 0.105, 1.000); 
	transition-timing-function: cubic-bezier(0.175, 0.000, 0.105, 1.000);
}
#background div.innerShadow {
	box-shadow: 0 0 .25em #000 inset;
	position: absolute;
	top: 1.5vw;
	left: 7.5vw;
	right: 1.5vw;
	bottom: 1.5vw;
	z-index: 1;
	border-radius: .15em;
	overflow: hidden;
}
#background > div > img {
	width: 100%;
	display: block;
	border-radius: .15em;
	overflow: hidden;
}

#background > div.vertical {
	width: calc(45vw * 4/5);
	padding: 1.5vw 1.5vw 7.5vw 1.5vw;
}
#background div.vertical div.innerShadow {
	left: 1.5vw;
	bottom: 7.5vw;
}

@media screen and (max-aspect-ratio: 1/1) {
	#background > div {
		padding: 1.5vh 1.5vh 1.5vh 7.5vh;
		width: 45vh;
	}
	#background div.innerShadow {
		top: 1.5vh;
		left: 7.5vh;
		right: 1.5vh;
		bottom: 1.5vh;
	}
	#background > div.vertical {
		width: calc(45vh * 4/5);
		padding: 1.5vh 1.5vh 7.5vh 1.5vh;
	}
	#background div.vertical div.innerShadow {
		left: 1.5vh;
		bottom: 7.5vh;
	}
}











