/* ARTSOCKET RESET BLOCK V0.5 */

html { height: 100%; }
body {
    height: 100%;
    transition: height 250ms;
    
    width: 100%;
    min-width: 320px;
    padding: 0;
    margin: 0;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 62.5%;
	letter-spacing: 0.05em;
	font-weight: 400;
	color: #2C2C2C;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	
	overflow-x: hidden;
}
header, section, footer, aside, nav, main, article, figure, figcaption, details, p { 
	display: block;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin: 0;
	padding: 0;
}
h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 2.5em
}
h2 {
	font-size: 1em;
}
a {
	color: #706893;
}
main {
	margin: 0 auto;
	font-size: 1.5em;
}
@media only screen and (min-width:1250px) { body { font-size: 75% } }
@media only screen and (max-width:540px) { body { font-size: 55% } }
@media only screen and (min-width:2000px) {
	body { font-size: 110%; }
}
.center { text-align: center; }



.beatingHeart {
	display: inline-block;
	position: relative;
	font-size: .65em
}
.beatingHeart svg { padding: 0 .1em; overflow: visible; }
.beatingHeart.show svg path { fill: #c89fbf; }

body > header h1:hover svg path, .beatingHeart.show svg path {
 	animation: beat 750ms;
    animation-iteration-count: 3;
}
.beatingHeart.show svg path {
	animation-iteration-count: 7
}



@keyframes beat {
	0% { fill: #c89fbf; transform: scale(1);}
	5% { fill: #595375; transform: scale(1.1) translate(-.045em,0);}
	100% { fill: #c89fbf; transform: scale(1);}
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeInHalf {
    0% { opacity: 0; }
    100% { opacity: .5; }
}
@keyframes headerForm {
	0% {
		background: 0 0;
		box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
		transform: scale(.99);
	}
	100% {
		box-shadow: 0 .25em 1em rgba(0, 0, 0, 0.33);
		transform: scale(1);
	}
}
@keyframes headerMenuDrop {
	0% {
		opacity: 0;
		transform: translateY(-2em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}

}



#pageLoadingIndicator {
	background: rgb(112, 104, 147);
	background: -moz-linear-gradient(left, rgba(112, 104, 147, 1) 0%, rgba(200, 159, 191, 1) 100%);
	background: -webkit-linear-gradient(left, rgba(112, 104, 147, 1) 0%, rgba(200, 159, 191, 1) 100%);
	background: linear-gradient(to right, rgba(112, 104, 147, 1) 0%, rgba(200, 159, 191, 1) 100%); 
	width: 0%;
	height: 2px;
	position: fixed;
	top: 0;
	transition: all 500ms;
	z-index: 110;
}



body > header {
	position: fixed;
	top: 0;
	left: -5em;
	padding: 1.5em 7.5em;
	width: calc(100vw + 10em);
	z-index: 100;
	overflow: hidden;
	transform: scale(.99);
}
body > header.loaded {
	animation: headerForm 1s ease forwards;
    transition: all 250ms;
    background: rgba(255,255,255,.97);
}
body > header a {
	text-decoration: none;
}
@media only screen and (max-width:800px) { 
	body > header {
		padding: 1.5em 10em;
		height: 7.5em;
		animation: none;
	}
	body > header.loaded {
		box-shadow: 0 .25em 1em rgba(0, 0, 0, 0.33);
		transform: scale(1);
		animation: none;
	}
	body > header.hide {
   		transform: scale(1) translateY(-6em);
		animation: none;
    }
}

body > header h1 {
	width: 11em;
	background: 0 0;
	cursor: pointer;
	display: inline-block;
	opacity: 0;
	border-radius: .15em;
	color: #768371;
	top: 0.025em;
	position: relative;
	line-height: 1.25em;
	overflow: hidden;
	height: 1.25em
}
body > header h1.show { opacity: 1; }
@media only screen and (max-width:800px) { 
	body > header h1 {
		display: block;
		text-align: center;
		margin: 0 0 0 calc(50vw - 7.85em);
		left: 0;
		transition: transform 750ms;
	}
	body > header.hide h1 {    
		transform: translateY(2.25em);
    	transition: 150ms;
    }
}
body > header h1 em {
	color: #c89fbf;
}

strong.beatingHeart svg {
	width: .75em;
	height: .75em;
}
body > header h1 em, body > header h1 em i {
	font-style: normal;
}
body > header h1 em {
	font-size: .5em;
    font-weight: 400;
    opacity: 0;
    /* animation: fadeIn 750ms ease 2250ms forwards; */
    margin: 0.25em 2em 0 0;
    display: block;
    width: 5em;
    overflow: hidden;
    float: right;
    border-radius: .25em;
    padding: 0 .15em;
    text-align: center;
}
body > header h1 em.show {
	animation: fadeIn 750ms ease forwards;
}
@media only screen and (max-width:800px) { 
	body > header h1 em {
		animation: fadeInHalf 750ms ease 2250ms forwards;
		position: absolute;
		display: block;
		right: 19.5em;
		top: 4em;
	}
}
body > header h1 span.dmitri { opacity: 0; }
body > header h1 span.dmitri.show {
	animation: fadeIn 750ms ease 750ms forwards;
}
body > header h1 span.betty  { opacity: 0; }
body > header h1 span.betty.show {
	animation: fadeIn 750ms ease 1500ms forwards;
}

body > header ul {
    display: inline-block;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    width: calc(100% - 37.5em);
    position: absolute;
    top: 1.1em;
}
@media only screen and (max-width:800px) { 
	body > header ul {
		margin-left: -2.5em;
		margin-top: 3.5em;
		width: calc(100vw - 1em);
		transition: opacity 200ms, transform 500ms;
	}
	body > header.hide ul {
		opacity: 0;
		transform: scaleY(.6);
	}
}
body > header ul li {
	display: inline-block;
	margin: 0 .5em;
	padding: .25em .5em;
	min-width: 4em;
	text-align: center;
	/* border-radius: .15em; */
	overflow: hidden;
	/* animation: headerMenuDrop 500ms ease 3000ms forwards; */
	opacity: 0;
	border-bottom: 3px solid rgba(255, 255, 255, 0);
	transition: all 500ms;
}
/*
body > header ul li:nth-child(2) {
	animation: headerMenuDrop 500ms ease 3100ms forwards;
}
body > header ul li:nth-child(3) {
	animation: headerMenuDrop 500ms ease 3200ms forwards;
}
body > header ul li:nth-child(4) {
	animation: headerMenuDrop 500ms ease 3300ms forwards;
}
*/
body > header ul li.rsvp {
	float: right;
	display: inline-block;
	background: #595375;
	border-bottom: none;
	padding: 0;
	min-width: 0;
	cursor: pointer;
}
body > header ul li.rsvp a {
	color: #fff;
	padding: .25em .5em;
	display: block;
	min-width: 4em;
}
body > header ul li.selected {
	border-bottom: 3px solid #706893;
}
body > header ul li.rsvp.selected a {
	border-bottom: none;
}
body > header ul li.rsvp.selected {
	background: #768371;
	border-bottom: none;
}
@media only screen and (max-width:800px) {
	body > header ul li:not(.rsvp) {
		min-width: 0;
		margin: 0;
	}
}



body > main {
	margin: 6em auto 0;
	max-width: 40em;
	padding: 1.5em;
	z-index: 1;
	position: relative;
	opacity: 0;
	display: none;
	transform: scale(.95);
	transition: all 200ms;
}
@media only screen and (max-width:800px) { 
	body > main { margin-top: 9em; padding: .5em 0; }
}
body > main.show {
	opacity: 1;
	transform: scale(1);
}
body > main article {
	text-align: center;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 1;
	transform: translateY(-100vh);
	transition: all 300ms;
}
body > main article strong.beatingHeart {
	background: 0 0;
	font-size: 1.15em;
	transition: transform 500ms;
}
body > main h1, body > main h2, body > main p, body > main li, body > main figure, body > main iframe {
	background: rgba(255, 255, 255, 0.75);
	padding: 1em;
	display: inline-block;
	margin: 0 0 1em;
	transition: transform 1.5s;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.000, 0.105, 1.000); 
	transition-timing-function: cubic-bezier(0.175, 0.000, 0.105, 1.000);
	line-height: 1.5em
}
body > main iframe {
	padding: 0;
	min-height: 50em;
}
body > main h2 {
	font-size: 1em;
	font-weight: 400;
	padding: 0 .5em;
	margin-top: 2em;
}
body > main ul { padding: 0; }
body > main ul li {
	text-align: left;
	padding: .5em 1em;
}
body > main ul li.sublist {
	margin-left: 2.5em;
	margin-bottom: .5em;
}
body > main ul li:before {
	content: "•";
	color: #fff;
	margin-left: -2em;
	margin-right: 2em;
}
body > main figure {
	opacity: .85;
	padding: 0;
	max-width: 20em;
	display: block;
	margin: 0 auto 1em;
}
body > main figure a {
	padding: 0 !important;
}
body > main figure img {
	width: 100%;
	display: block;
}
body > main p, body > main ul li {
	display: block;
	padding-bottom: .5em;
	text-align: left;
}
body > main a {
	text-decoration: underline;
	background: rgba(210, 223, 188, 0.5);
	color: #2c2c2c;
	padding: 0;
	height: 1.5em;
	font-size: .65em;
	line-height: 1.5em;
	letter-spacing: .09em;
	text-transform: uppercase;
	display: inline-block;
}
body > main a.external:after {
	width: 1em;
	height: 1em;
	content: "";
	background: url(img/window.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: .25em;
}
body > main a.external { padding-left: .5em }
body > main a.internal:before {
	content: "\0023";
	font-size: 1.15em;
	text-align: center;
	color: rgba(89, 83, 117, 0.5);
	width: 1.25em;
	overflow: hidden;
	display: inline-block;
	padding: 0;
	position: relative;
}

body > main strong {
	font-weight: 400;
	background: rgba(89, 83, 117, 0.5);
	color: #fff;
	padding: .15em .5em;
	font-size: .75em;
}
body > main .highlight {
	background: #2c2c2c;
	color: #c89fbf;
}




#background {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	transition: all 500ms;
}
#background.blur {
	-webkit-filter: blur(20px);
	-moz-filter: blur(20px);
	-ms-filter: blur(20px);
	filter: url(#backgroundBlur);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='20');
	filter: blur(20px);
	
	transform: scale(1.1);
}
#background > div {
	width: 45vw;
	position: absolute;
	transform: translate(0, 100%) scale(1.1);
	margin: 1em;
	border-radius: .5em;
	z-index: 1;
	opacity: 0;
	transition: transform 750ms, opacity 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.000, 0.105, 1.000); 
	transition-timing-function: cubic-bezier(0.175, 0.000, 0.105, 1.000);
	overflow: hidden;
	box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.33);
}
#background > div > img {
	width: 100%;
	display: block;
	border-radius: .15em;
	overflow: hidden;
}

#background > div.vertical {
	width: calc(45vw * 6/9.55);
}

@media screen and (max-aspect-ratio: 1/1) {
	#background > div {
		width: 45vh;
	}
	#background > div.vertical {
		width: calc(45vh * 6/9.55);
	}
}


/*
#backdrop {
	background-size: cover;
	opacity: 1;
	width: 100vw;
	height: 100vh;
	top: 0;
	transition: opacity 2.5s, transform 50s;
	opacity: 0;
	z-index: -1;
	position: absolute;
}
#backdrop.show {
	transform: scale(1.25);
	opacity: .15;
}
*/



#loadingRSVP {
	transition: all 500ms;
	text-align: center;
	height: 2.25em;
}
#loadingRSVP.hide {
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

